section.new-tweet {
  margin: 1.5em 0 0 0;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form textarea {
  border: none;
  border-bottom: 3px #333 solid;
  background: none;
  font-weight: bold;
  height: 46px;
  margin-bottom: 1em;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.new-tweet button {
  color: white;
  background: #4056a1;
  border: none;
  border-radius: 3px;
}
output.counter.red {
  color: red;
}

.new-tweet .alert {
  padding: 10px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: red;
  margin: 1.5em 0;
  border: 3px red solid;
  font-size: 18px;
  border-radius: 6px;
}

.new-tweet .alert i {
  margin: 10px;
}
